

<form action="/characters" method="post">
  Make a character!!
  <label for="">Name</label>
  <input  type="text" name="character[name]"/>
  <label for="">Hometown</label>
  <input type="text" name="character[hometown]"/>
    <input type="text" name="character[dob]"/>


  <input type="submit" value="Make a character">
</form>
